@charset "utf-8";
.main{width:auto;height:auto;padding:10px}
.box{height:auto; width:100%; background:#fff; border:1px solid #cccccc;margin-bottom:20px}
.in_title{height:43px; border-bottom:1px solid #cccccc; background:url(/view/templates/images/raid/top_bg.png) repeat-x}
.in_title h3{height:43px; line-height:43px; margin:0; padding:0 0 0 60px; background:url(/view/templates/images/raid/arrow.png) no-repeat left; color:#656565; font-size:14px;}
.in_info{height:96px; line-height:96px; text-align:center; font-size:34px; }
.yellow{height:96px; line-height:96px; text-align:center; font-size:34px; }
.green{height:96px; line-height:96px; text-align:center; font-size:34px; }

/*红色警告样式*/
.in_info span{padding:0 0 0 60px; height:46px; background:url(/view/templates/images/raid/red_ico.png) no-repeat left; font-family:"微软雅黑", "黑体" ;color:#ff1200}

/*黄色警告样式*/
/*修改直接添加到class="in_info yellow"内*/
.yellow span{padding:0 0 0 60px; height:46px;  background:url(/view/templates/images/raid/yellow_ico.png) no-repeat left; font-family:"微软雅黑", "黑体" ; color:#ffa800}

/*绿色警告样式*/
.green span{padding:0 0 0 60px; height:46px;  background:url(/view/templates/images/raid/green_ico.png) no-repeat left; font-family:"微软雅黑", "黑体" ; color:#1b8a02  }

.box table{color:#3a3a3a; font-size:13px;}
.box table th{color:#3a3a3a; font-size:13px; font-weight:normal; height:32px; line-height:32px; background:url(/view/templates/images/raid/tit_bg.png)}
.box table td{height:23px; line-height:32px; text-align:center}
.tab_border{border:1px #cccccc solid; border-bottom:none; border-left:none}
.tab_border2{ border-top:1px solid #cccccc}
.tab_border3{ border-right:1px solid #cccccc}
