<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/view/templates/js/jquery-ui/jquery-ui-1.10.1.custom.min.css">
<link href="/view/templates/images/common.css" rel="stylesheet" type="text/css" />

<!-- <link href="/view/templates/uploadify/uploadify.css" rel="stylesheet" type="text/css" /> -->
<link href="/view/templates/plupload-2.1.1/js/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet" type="text/css" />

<script src="/view/templates/js/jquery.min.js"></script>
<!-- <script src="/view/templates/uploadify/jquery-1.8.3.js"></script> -->
<script src="/view/templates/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/view/templates/js/common.js"></script>
<script src="/view/templates/js/ajaxfileupload.js"></script>


<script type="text/javascript" src="/view/templates/plupload-2.1.1/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/view/templates/plupload-2.1.1/js/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/view/templates/plupload-2.1.1/js/jquery.ui.plupload/jquery.ui.plupload.js"></script>



<title>软件包管理</title>

<style type="text/css">
<!--

-->
</style>
<script>

var g_uploader = null;
var g_files = null;

function ajaxFileUpload()
{
    $$("#loading").ajaxStart(function(){
        $$("#upload_file").attr("disabled", true)
        $$("#btn").attr("disabled", true)
        $$(this).show();
    }).ajaxComplete(function(){
        $$("#upload_file").attr("disabled", false)
        $$("#btn").attr("disabled", false)
        $$(this).hide();
    });
    $$.ajaxFileUpload({
        url:'/view/software/upload',
        secureuri:false,
        fileElementId:'upload_file',
        dataType: 'json',
        success: function (data, status)
        {
            if(typeof(data.error) != 'undefined'
                && data.error != '')
            {
                alert("上传失败:" + data.error);
            }else
            {
                alert("上传成功");
                $$("#grid").vmxGridReload();
            }
        },
        error: function (data, status, e)
        {
            alert("上传失败");
        }
    })
    //return false;
}
function upload()
{
        var file = $$("#upload_file").val()
        if (typeof(file) == "undefined" || file == "")
        {
            alert("请选择要上传的文件");
            return;
        }

        ajaxFileUpload();
}
function uninstall(grid)
{
        var software = $$(grid).get(0).children[1].innerText.replace("\n", '');
        var del_confirm = confirm('确定删除' + software + '吗?')
        if (!del_confirm)
            return;
        var data = '{"name":"' + software + '"}';

        var ret = restful_ajax({url:"/model/software/uninstall", type:"DELETE", data:data, async:true, error:function(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(errorThrown)
        }, success:function()
        {
            $$("#grid").vmxGridReload();
        }});
}

function detail_process(grid)
{
    var name = $$(grid).get(0).children[1].innerText.replace("\n", '');
    var inface = $$("#inface").val()
    var ret = restful_ajax({url:"/model/software/rpminfo/" + name, type:"GET", async:false, error:function(XMLHttpRequest, textStatus, errorThrown)
    {
        retcode = false
    }, success:function()
    {
        retcode = true;
    }});
    if (retcode)
    {
        $$("#info_table > tr").remove();
        var ret_data = $$.parseJSON(ret);
        if (typeof ret_data['name'] != 'undefined') {
            var key = ["name", "version", "release", "vendor", "installdate", "builddate", "buildhost", "relocations", "group", "sourcerpm", "size", "license", "signature", "url", "summary", "description"];
            var value = ["Name", "Version", "Release", "Vendor", "Install Date", "Build Date", "Build Host", "Relocations", "Group", "Source RPM", "Size", "License", "Signature", "URL", "Summary", "Description"];
            for (var i = 0 ; i < key.length; i++)
            {
                if (typeof ret_data[key[i]] != "undefined")
                    $$("#info_table").append('<tr><td width="100">' + value[i] + '</td><td>' + ret_data[key[i]] + '</td></tr>');
            }
            $$('#dialog').dialog('open');
        }
        else {
            alert('此软件包未安装！');
        }
    }
}

/////////////////////////////////////////////////////////////////////
function ask_cancel() {
    $$('#ask').dialog("close");
}
function ask_ok() {
    $$('#ask').html('<p style="text-align:center">确定要使用 ISO 进行软件恢复吗 ？<br /><br />\
          <input type="button" class="ask" id="ask_ok" value="确认" onclick="recovery_iso();"></input> \
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\
          <input type="button" class="ask" id="ask_cancel" value="取消" onclick="ask_cancel();"></input> \
          </p>');
    $$('#ask').dialog('open');
}
function wait_close() {
    $$('#wait').dialog('close');
}
function clean_uploader() {
    if (g_uploader != null && g_files != null) {
        for (var i in g_files) {
            var id = g_files[i].id;
            g_uploader.removeFile(g_files[i]);
            $$('#'+id).hide();
        }
    }
}

function recovery_iso() {
    ask_cancel();
    $$("#wait").html('<p style="text-align:center">进行 ISO 恢复中，请等待。。。</p>');
    $$('#wait').dialog('open');

    setTimeout(function() {
        var retcode = false;
        var ret = restful_ajax({url:"/model/software/rpmiso", type:"PUT", async:false, error:function(XMLHttpRequest, textStatus, errorThrown)
        {
            $$('#wait').dialog('close');
            retcode = false;
            alert(errorThrown);
        }, success:function()
        {
            retcode = true;
        }});

        if (retcode) {
            // alert('ISO 恢复，成功！');
            clean_uploader();
            $$("#wait").html('<p style="text-align:center">ISO 恢复，成功！</p>');
            setTimeout(wait_close, 2000);
        }
    }, 2000);
}


/////////////////////////////////////////////////////////////////////


$$(document).ready(function() {

    $$("#dialog" ).dialog({autoOpen: false, modal: true, width:800});
    $$("#ask" ).dialog({autoOpen: false, modal: false, width:500});
    $$("#wait").dialog({autoOpen: false, modal: false, width:400});

    $$("#grid").vmxGrid({
        url : '/model/software/uninstall',
        title: "软件包",
        buttons : [
        // {
        //     name : '删除',
        //     bclass : 'del',
        //     onpress : uninstall
        // },
        {
            name : '查看软件包详情',
            bclass : 'view',
            onpress : detail_process
        }],
        foot:[
        {
            html: '<form name="form" action="" method="POST" enctype="multipart/form-data">' +
                '<input type="file" id="upload_file" name="upload_file" /><input type="button" id="btn" class="upload" value="升级软件" onclick="upload();" />' +
                '<img src="/view/templates/images/loading.gif" name="loading" align="absmiddle" id="loading" style="display:none;" />' + '</form><br />'
        }]
    });

    $$('#upload_iso_file').plupload({
        // General settings
        // runtimes : 'flash,html4',
        runtimes: 'gears,flash,silverlight,browserplus,html5',
        url : "/view/software/rpmiso",

        // Maximum file size
        max_file_size : '1000mb',
        multipart : true,

        chunk_size: '30mb',

        // Resize images on clientside if we can
        resize : {
            width : 200,
            height : 100,
            quality : 90,
            crop: true // crop to exact dimensions
        },

        // Specify what files to browse for
        filters : [
            {title : "ISO files", extensions : "iso"},
        ],

        // Rename files by clicking on their titles
        rename: true,

        // Sort files
        sortable: true,

        // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
        dragdrop: true,

        // Views to activate
        views: {
            list: true,
            thumbs: false, // Show thumbs
            active: 'thumbs'
        },

        // Flash settings
        flash_swf_url : '/view/templates/plupload-2.1.1/js/Moxie.swf',
        init: {
            Error: function(up, err) {
                alert(err.message);
            },
            // FilesAdded: function(up, file) {
            //     // alert('FilesAdded');
            // },
            // UploadProgress: function(up, file) {
            //     // console.log('UploadProgress');
            //     // console.log(up.total);
            //     $$("#log").html("<div>"+ file.percent +"%</div>");
            // },
            // FileUploaded: function(up, file, info) {
            //     // alert(info.response);
            //     console.log(info.response);
            //     for (var i in info) {
            //         console.log(i + ' : ' + info[i]);
            //     }
            //     var str = info.response;
            //     str = str.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">', '');
            //     str = str.replace('</pre>', '');
            //     // alert(str);
            //     var json = $$.parseJSON(str);
            //     if (typeof(json['error']) != 'undefined'){
            //         alert(json['error']);
            //     }
            //     // $$('#log').html(info.response);
            //     // $$('#log').dialog('open');
            // },
            UploadComplete: function(up, files) {
                alert('完成上传 !!!');
                // for (var item in files) {
                //     console.log(files[item].name);
                //     console.log(files[item].id);
                //     var id = files[item].id;
                //     up.removeFile(files[item]);
                //     $$('#'+id).hide();
                // }
                g_uploader = up;
                g_files = files;
            },
        },

        iso_event: function(up) {
            ask_ok();
        },
    });

});

</script>
</head>

<body>
<div id="dialog" title="安装包详情">
    <table width="100%" height="46" border="0" cellpadding="0" cellspacing="0" class="general_table">
        <tbody id="info_table">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" align="left">&nbsp;
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div id="grid"></div>
<br />

<div id="upload_iso_file">
    <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
</div>
<!-- <div id="log"></div> -->
<div id="ask"></div>
<div id="wait"></div>

</body>
</html>
