<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/view/templates/images/common.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/view/templates/js/jquery-ui/jquery-ui-1.10.1.custom.min.css">
<!-- <link href="/view/templates/images/tips-style.css" rel="stylesheet" type="text/css" /> -->
<link href="/view/templates/css/raid-css.css" rel="stylesheet" type="text/css" />
<script src="/view/templates/js/jquery.min.js"></script>
<script src="/view/templates/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/view/templates/js/common.js"></script>
<title>阵列信息</title>
<script>

var json_data = null;
var color = 'yellow';
////////////////////////////////////////////////////////////
function register_event(callback, ask, param) {
    var cmd = callback;
    if (typeof param != 'undefined') {
        cmd += ',' + param;
    }
    $$('#new_raid_ask').html('<p style="text-align:center">'+ ask +'<br /><br /><br />\
          <input type="button" class="ask" id="ask_ok" value="确认" onclick="ask_ok('+ cmd +');"></input> \
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\
          <input type="button" class="ask" id="ask_cancel" value="取消" onclick="ask_cancel();"></input> \
          </p>');
    $$('#new_raid_ask').dialog('open');
}
function ask_ok(callback, param) {
    $$('#new_raid_ask').dialog('close');
    // alert('处理东西。。。' + '参数： ' + param);
    $$("#new_raid_progress").html('<p style="text-align:center">正在进行处理 。。。</p>');
    $$("#new_raid_progress").dialog('open');
    if (typeof param != 'undefined') {
        callback(param);
    }
    else {
        callback();
    }
}
function ask_cancel() {
    $$('#new_raid_ask').dialog('close');
}
function checking_result(ret_code) {
    if (ret_code) {
        $$("#new_raid_progress").html('<p style="text-align:center">处理 成功！</p>');
    }
    else {
        $$("#new_raid_progress").html('<p style="text-align:center">处理 失败！</p>');
    }
    setTimeout(new_raid_refresh, 2000);
}
function new_raid_refresh() {
    $$("#new_raid_progress").dialog('close');
    window.location.reload();
}
////////////////////////////////////////////////////////////
function raid_base_info() {
    var ret_code = false;
    var base_info = restful_ajax({  url: "/model/storage/raid",
                                    type: "GET",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_code = true;
        }
    });

    if (ret_code) {
        // alert(base_info);
        json_data = $$.parseJSON(base_info);
        if (json_data) {
            var dev_name = json_data['device name'];
            if (typeof dev_name != 'undefined') {
                // var soft_ver = json_data['version'];
                var create_time = json_data['creation time'];
                var raid_type = json_data['raid level'];
                var all_volume = json_data['array size'];
                var all_count = json_data['total devices'];
                var up_time = json_data['update time'];

                var raid_str = "<tr>"+
                                "<td class=\"tab_border\">"+dev_name+"</td>"+
                                // "<td>"+soft_ver+"</td>"+
                                "<td class=\"tab_border\">"+create_time+"</td>"+
                                "<td class=\"tab_border\">"+raid_type+"</td>"+
                                "<td class=\"tab_border\">"+all_volume+"</td>"+
                                "<td class=\"tab_border\">"+ all_count+"</td>"+
                                "<td class=\"tab_border\">"+up_time +"</td>"+
                                "</tr>";
                $$("#base_info").append(raid_str);
            }
        }
    }
}
function raid_other_info() {
    $$("#raid_other_info").dialog("open");
    var content = '';

    if (typeof json_data != "undefined") {
        var status = json_data['state'];
        if (typeof status != 'undefined') {
            var soft_ver = json_data['version'];
            var used_volume = json_data['used dev size'];
            var raid_count = json_data['raid devices'];
            var persistence = json_data['persistence'];
            var layout = json_data['layout'];
            var chunk = json_data['chunk size'];
            var name = json_data['name'];
            var uuid = json_data['uuid'];
            var events = json_data['events'];

            content = "<table> \
                        <tr><td align=\"right\">软件版本：</td><td>"+ soft_ver +"</td></tr> \
                        <tr><td align=\"right\">单块磁盘有效容量：</td><td>"+ used_volume +"</td></tr> \
                        <tr><td align=\"right\">RAID数量：</td><td>"+ raid_count +"</td></tr> \
                        <tr><td align=\"right\">持久化状态：</td><td>"+ persistence +"</td></tr> \
                        <tr><td align=\"right\">阵列状态：</td><td>"+ status +"</td></tr> \
                        <tr><td align=\"right\">阵列Layout：</td><td>"+ layout +"</td></tr> \
                        <tr><td align=\"right\">超级快大小：</td><td>"+ chunk  +"</td></tr> \
                        <tr><td align=\"right\" align=\"right\">主机信息：</td><td>"+ name +"</td></tr> \
                        <tr><td align=\"right\">阵列UUID：</td><td>"+ uuid +"</td></tr> \
                        <tr><td align=\"right\">阵列事件：</td><td>"+ events +"</td></tr> \
                        </table>";
        }
        else {
            content = '没有信息哦 ^_^';
        }
    }

    $$("#raid_other_info").html(content);
}

function raid_help_info() {
    $$("#raid_help").dialog("open");
    var content = "\
            <h2>使用须知：</h2>\
            <p>1.  必须按照顺序添加依次磁盘，禁止出现间隔空槽位；</p>\
            <p>2.  仅在阵列正常运行时（绿色），才可以添加或者更换磁盘，否则可能造成阵列损坏或数据丢失；</p>\
            <p>3. 请在开机状态下完成添加磁盘或更换磁盘的全部步骤，中途关机或重启可能造成阵列损坏或数据丢失；</p>\
            <p>4. 阵列警报状态下（黄色），请尽快按照提示进行修复；</p>\
            <p>5. 阵列警报状态下（黄色），请勿随意插拔或更换正常工作的磁盘，否则可能造成阵列损坏或数据丢失；</p>\
            ";

    $$("#raid_help").html(content);
}

function raid_start() {
    var ret_code = false;
    var alarm_info = restful_ajax({  url: "/model/storage/raid/start",
                                    type: "PUT",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_code = true;
        }
    });

    if (ret_code) {
        alert('启动成功！');
        window.location.reload();
    }
    else {
        alert('启动失败！');
    }
}
function raid_stop() {
    var ret_code = false;
    var alarm_info = restful_ajax({  url: "/model/storage/raid/stop",
                                    type: "PUT",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_code = true;
        }
    });

    if (ret_code) {
        alert('停止成功！');
        window.location.reload();
    }
    else {
        alert('停止失败！');
    }
}
function resize_raid_volume() {
    var ret_code = false;
    var alarm_info = restful_ajax({  url: "/model/storage/raid/resizefs",
                                    type: "PUT",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_code = true;
        }
    });

    if (ret_code) {
        alert('扩容阵列文件系统 成功！');
        window.location.reload();
    }
    else {
        alert('扩容阵列文件系统 失败！');
    }
}

function is_alarming() {
    var ret_code = false;
    var alarm_info = restful_ajax({  url: "/model/storage/raid/alarm",
                                    type: "GET",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_code = true;
        }
    });

    if (ret_code) {
        if (alarm_info != '0') {
            return true;
        }
    }
    return false;
}
function raid_alarm() {
    var ret_code = false;
    var alarm_info = restful_ajax({  url: "/model/storage/raid/alarm",
                                    type: "GET",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_code = true;
        }
    });

    var ret_progress = false;
    var progress_info = restful_ajax({  url: "/model/storage/raid/sync",
                                    type: "GET",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_progress = true;
        }
    });

    if (ret_code) {
        // alert(alarm_info)
        // here, checking alarm title
        color = 'blue';
        var raid_str = '';
        if (alarm_info == '1') {        // 设备损坏，黄色
            raid_str = '磁盘损坏，请尽快更换新磁盘';
            color = 'yellow';
        }
        else if (alarm_info == '2') {   // 有设备被移除，黄色
            raid_str = '磁盘缺失，请尽快补充新磁盘';
            color = 'yellow';
        }
        else if (alarm_info == '3') {   // 阵列停止工作，红色
            raid_str = '无阵列运行';
            color = 'blue';
        }
        else if (alarm_info == '4') {   // degraded, resharping, rebuilding
            raid_str = '数据同步中，请勿移除磁盘！  已完成 ' + progress_info;
            color = 'yellow';
        }
        else if (alarm_info == '5') {  // 2 disk fault
            raid_str = '阵列损坏';
            color = 'red';
        }
        else {                          // 没有报警，绿色
            raid_str = '阵列运行正常';
            color = 'blue';
        }

        $$("#alarm_title_text").text(raid_str);
        // alert(color)
        if (color == 'red') {
            $$('#alarm_title').removeClass();
            // $$('#alarm_title').addClass('error');
            $$('#alarm_title').addClass('in_info');
        }
        else if (color == 'yellow') {
            $$('#alarm_title').removeClass();
            // $$('#alarm_title').addClass('warnning');
            $$('#alarm_title').addClass('yellow');
        }
        else if (color == 'blue') {
            $$('#alarm_title').removeClass();
            // $$('#alarm_title').addClass('tips');
            $$('#alarm_title').addClass('green');
        }
    }

    setTimeout(raid_alarm, 5000);
}
////////////////////////////////////////////////////////////
// test ...
function new_raid_test_progress() {
    register_event('simple_event', '确定要进行测试吗？');
}
function simple_event(num) {
    setTimeout(function() {
        var ret_code = false;
        var ret_info = restful_ajax({  url: "/model/storage/raid/test",
                                        type: "GET",
                                        async: false,
                                        error: function(XMLHttpRequest, status, error) {
                // alert(error);
                return false;
            },
            success:function() {
                ret_code = true;
            }
        });
        checking_result(ret_code);
    }, 1000);
}
////////////////////////////////////////////////////////////

function new_raid_test_alarm() {
    var ret_code = false;
    var ret_info = restful_ajax({  url: "/model/storage/raid/alarm",
                                    type: "GET",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_code = true;
        }
    });

    var msg = '';
    if (ret_code) {
        if (ret_info == '0') {
            msg = '没有报警';
        }
        else if (ret_info == '1') {
            msg = '发现有设备损坏 ！！！';
        }
        else if (ret_info == '2') {
            msg = '发现有设备被移除 ！！！';
        }
    }
    alert(msg);
}
function new_raid_refresh_backend() {
    // refresh backend interface
    var ret_code = false;
    var ret_info = restful_ajax({  url: "/model/storage/raid/refresh",
                                    type: "GET",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_code = true;
        }
    });

    if (ret_code) {
        // alert(ret_info);
        // window.location.reload();
    }

    setTimeout(new_raid_refresh_backend, 2000);
}
function new_raid_info() {
    var ret_code = false;
    var raid_info = restful_ajax({  url: "/model/storage/raid/perfect",
                                    type: "GET",
                                    async: false,
                                    error: function(XMLHttpRequest, status, error) {
            // alert(error);
            return false;
        },
        success:function() {
            ret_code = true;
        }
    });

    if (ret_code) {
        var new_info = $$.parseJSON(raid_info);
        var content = '<tr><th scope="col"  class="tab_border3">盘位</th>\
                <th scope="col"  class="tab_border3">设备名称</th>\
                <th scope="col"  class="tab_border3">State of RAID</th>\
                <th scope="col"  class="tab_border3">状态</th>\
                <th scope="col">操作</th></tr>';
        var _num = 0;
        if (new_info) {
            var is_hide = false;
            if (color != 'blue') {
                is_hide = true;
            }
            for (var key in new_info) {
                content += '<tr><td class="tab_border">' + key + '</td><td class="tab_border" id="new_raid_device_' + _num + '">' + new_info[key]['device'] + '</td><td class="tab_border">'+new_info[key]['state'] +'</td>';

                // add operation button or not
                var grade_1 = new_info[key]['status'].substr(0, 1);
                var grade_2 = new_info[key]['status'].substr(1, 1);
                if (grade_1 == '0') {
                    content += '<td class="tab_border">初始化状态</td><td class="tab_border"></td>';
                }
                else if (grade_1 == '2') {
                    if (grade_2 == '0') {
                        content += '<td class="tab_border">发现新设备</td>';
                        content += is_hide ? '<td class="tab_border"></td>' : '<td class="tab_border"><input type="button" class="new_raid" id="new_raid_add_new" value="添加新设备" onclick="new_add_device_ask(' + _num + ');"></input></td>';
                    }
                    else if (grade_2 == '1') {
                        content += '<td class="tab_border">发现新设备</td><td class="tab_border">出现非法跳槽，无法添加到阵列</td>';
                    }
                }
                else if (grade_1 == '3') {
                    content += '<td class="tab_border">空槽位</td><td class="tab_border"></td>';
                }
                else if (grade_1 == '1') {
                    if (grade_2 == '0') {
                        content += '<td class="tab_border">初始化状态</td><td class="tab_border"></td>';
                    }
                    else if (grade_2 == '1') {
                        content += '<td class="tab_border">正常工作</td>';
                        content += is_hide ? '<td class="tab_border"></td>' : '<td class="tab_border"><input type="button" class="new_raid" id="new_raid_remove" value="弹出硬盘" onclick="new_remove_device_force_ask('+ _num +');"></input></td>';
                    }
                    else if (grade_2 == '2') {
                        content += '<td class="tab_border">损坏</td>';
                        content += '<td class="tab_border"><input type="button" class="new_raid" id="new_raid_remove" value="移除" onclick="new_remove_device_ask('+ _num +');"></input></td>';
                    }
                    else if (grade_2 == '3') {
                        content += '<td class="tab_border">已被移除</td><td class="tab_border"><input type="button" class="new_raid" id="new_raid_active" value="激活" onclick="new_active_device_ask('+ _num +');"></input></td>';
                    }
                    else if (grade_2 == '4') {
                        content += '<td class="tab_border">已被移除，空槽位</td><td class="tab_border">请插入新磁盘 ！！！</td>';
                    }
                }
                content += '</tr>';
                _num++;
            }
        }


        $$("#new_raid_manager").html(content);
    }

    setTimeout(new_raid_info, 5000);
}

////////////////////////////////////////////////////////////
function new_add_device_ask(num) {
    register_event('new_add_device', '确定要添加新设备吗？',num);
}
function new_remove_device_ask(num) {
    register_event('new_remove_device', '确定要移除该设备吗？', num);
}
function new_remove_device_force_ask(num) {
    register_event('new_remove_device_force', '确定弹出硬盘吗？', num);
}
function new_active_device_ask(num) {
    register_event('new_active_device', '确定要激活该设备吗？', num);
}

function new_add_device(num) {
    setTimeout(function() {
        var disk_name = $$('#new_raid_device_' + num).text();
        // alert(disk_name);
        // return;
        if (! disk_name) {
            alert('没有发现有效的磁盘设备！');
            return;
        }

        // checking is alarming or not
        var is_alarm = is_alarming();
        if (is_alarm) {
            alert('当前处于警报状态，不可以移除设备！！！');
            checking_result(false);
            return;
        }

        // alert('【提醒】：点击 “确认” 后，请不要做其他操作，耐心等待结果返回 ！！！');
        var ret_code = false;
        var ret_info = restful_ajax({  url: "/model/storage/raid/" + disk_name,
                                        type: "POST",
                                        async: false,
                                        error: function(XMLHttpRequest, status, error) {
                // alert(error);
            },
            success:function() {
                ret_code = true;
            }
        });

        checking_result(ret_code);
    }, 1000);
}
function new_remove_device(num) {
    setTimeout(function() {
        var disk_name = $$('#new_raid_device_' + num).text();
        // alert(disk_name);
        // return;
        if (! disk_name) {
            alert('没有发现有效的磁盘设备！');
            return;
        }
        // checking is alarming or not

        // alert('【提醒】：点击添加后，请不要做其他操作，耐心等待结果返回 ！！！');
        var ret_code = false;
        var ret_info = restful_ajax({  url: "/model/storage/raid/" + disk_name,
                                        type: "DELETE",
                                        async: false,
                                        error: function(XMLHttpRequest, status, error) {
                // alert(error);
            },
            success:function() {
                ret_code = true;
            }
        });
        checking_result(ret_code);
    }, 1000);
}
function new_remove_device_force(num) {
    setTimeout(function() {
        var disk_name = $$('#new_raid_device_' + num).text();
        // alert(disk_name);
        // return;
        if (! disk_name) {
            alert('没有发现有效的磁盘设备！');
            return;
        }
        // checking is alarming or not
        var is_alarm = is_alarming();
        if (is_alarm) {
            alert('当前处于警报状态，不可以弹出！！！');
            checking_result(false);
            return;
        }

        // alert('【提醒】：点击添加后，请不要做其他操作，耐心等待结果返回 ！！！');
        var ret_code = false;
        var ret_info = restful_ajax({  url: "/model/storage/raid/" + disk_name,
                                        type: "DELETE",
                                        async: false,
                                        error: function(XMLHttpRequest, status, error) {
                // alert(error);
            },
            success:function() {
                ret_code = true;
            }
        });
        checking_result(ret_code);
    }, 1000);
}
function new_active_device(num) {
    setTimeout(function() {
        var disk_name = $$('#new_raid_device_' + num).text();
        // alert(disk_name);
        // return;
        if (! disk_name) {
            alert('没有发现有效的磁盘设备！');
            return;
        }

        // alert('【提醒】：点击激活后，请不要做其他操作，等待结果返回 ！！！');
        var ret_code = false;
        var data = '{"active":"' + disk_name + '"}';
        var alarm_info = restful_ajax({  url: "/model/storage/raid/active",
                                        type: "PUT",
                                        data: data,
                                        async: false,
                                        error: function(XMLHttpRequest, status, error) {
                // alert(error);
            },
            success:function() {
                ret_code = true;
            }
        });
        checking_result(ret_code);
    }, 1000);
}
////////////////////////////////////////////////////////////

$$(document).ready(function() {

    $$("#raid_other_info").dialog({autoOpen: false, modal: true, width: 500});
    $$("#new_raid_progress").dialog({autoOpen: false, modal: true, width: 300});
    $$("#new_raid_ask").dialog({autoOpen: false, modal: true, width: 300});
    $$("#raid_help").dialog({autoOpen: false, modal: true, width: 500});

    new_raid_refresh_backend();
    raid_base_info();
    raid_alarm();
    new_raid_info();
});

</script>
</head>

<body>
<!-- alarm title field -->

<div class="main">
    <div class="box">
        <div class="in_title">
            <h3>阵列信息</h3>
        </div>
        <!-- <div class="green"><span>阵列损坏！ </span></div> -->
        <!-- <div class="green" id="alarm_title"><span id="alarm_title_text"></span></div> -->
        <div id="alarm_title"><span id="alarm_title_text"></span></div>
    </div>

    <div class="box">
        <div class="in_title" style="position:relative">
          <h3>磁盘阵列</h3>
          <a href="javascript://" onclick="raid_other_info();"><img src="/view/templates/images/raid/more.png" style="position: absolute; right: 90px; top:9px;" /></a>
          <a href="javascript://" onclick="raid_help_info();"><img src="/view/templates/images/raid/help.png" style="position: absolute; right: 15px; top:9px;" /></a>
        </div>
        <table id="base_info" width="100%" border="0" cellpadding="0"  cellspacing="0">
              <tr>
                <th scope="col"  class="tab_border3">设备名称</th>
                <th scope="col"  class="tab_border3">创建时间</th>
                <th scope="col"  class="tab_border3">阵列类型</th>
                <th scope="col"  class="tab_border3">总容量</th>
                <th scope="col"  class="tab_border3">磁盘数量</th>
                <th scope="col">更新时间</th>
              </tr>
        </table>
    </div>

    <div class="box">
        <div class="in_title">
          <h3>阵列管理</h3>
        </div>
        <table id="new_raid_manager" width="100%" border="0" cellpadding="0"  cellspacing="0">
              <tr>
                <th scope="col"  class="tab_border3">盘位</th>
                <th scope="col"  class="tab_border3">设备名称</th>
                <th scope="col"  class="tab_border3">State of RAID</th>
                <th scope="col"  class="tab_border3">状态</th>
                <th scope="col">操作</th>
              </tr>
        </table>
  </div>

</div>

<br />

<!-- <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="general_table">
    <thead>
        <tr>
          <th  colspan="6" align="left">阵列管理</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <td colspan="6" align="left">
            <input type="button" class="other" id="raid_start" value="启动阵列" onclick="raid_start();"></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="other" id="raid_start" value="停止阵列" onclick="raid_stop();"></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="other" id="raid_start" value="加速扩容 RAID 文件系统" onclick="resize_raid_volume();"></input>
            </td>
        </tr>
    </tfoot>
</table> -->

<div id="raid_other_info"></div>
<div id="new_raid_progress"></div>
<div id="new_raid_ask">
<div id="raid_help"></div>

</div>

</body>
</html>
