SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:0*", SYMLINK+="disk_1%n"
SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:1*", SYMLINK+="disk_2%n"
SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:2*", SYMLINK+="disk_3%n"
SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:3*", SYMLINK+="disk_4%n"
SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:0*", SYMLINK+="disk_5%n"
SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:1*", SYMLINK+="disk_6%n"
SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:2*", SYMLINK+="disk_7%n"
SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:3*", SYMLINK+="disk_8%n"
SUBSYSTEM=="block", DEVPATH=="*/host0*", SYMLINK+="sys_disk%n"

ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:0*", SYMLINK+="disk_1%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:1*", SYMLINK+="disk_2%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:2*", SYMLINK+="disk_3%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:3*", SYMLINK+="disk_4%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:0*", SYMLINK+="disk_5%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:1*", SYMLINK+="disk_6%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:2*", SYMLINK+="disk_7%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:3*", SYMLINK+="disk_8%n"

ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:0*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:1*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:2*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host6/port-6:3*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:0*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:1*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:2*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host7/port-7:3*", SYMLINK+=""
