SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:0*", SYMLINK+="disk_1%n"
SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:1*", SYMLINK+="disk_2%n"
SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:2*", SYMLINK+="disk_3%n"
SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:3*", SYMLINK+="disk_4%n"
SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:0*", SYMLINK+="disk_5%n"
SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:1*", SYMLINK+="disk_6%n"
SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:2*", SYMLINK+="disk_7%n"
SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:3*", SYMLINK+="disk_8%n"
SUBSYSTEM=="block", DEVPATH=="*/host7*", SYMLINK+="dom%n"

ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:0*", SYMLINK+="disk_1%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:1*", SYMLINK+="disk_2%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:2*", SYMLINK+="disk_3%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:3*", SYMLINK+="disk_4%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:0*", SYMLINK+="disk_5%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:1*", SYMLINK+="disk_6%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:2*", SYMLINK+="disk_7%n"
ACTION="add", SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:3*", SYMLINK+="disk_8%n"

ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:0*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:1*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:2*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host0/port-0:3*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:0*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:1*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:2*", SYMLINK+=""
ACTION="remove", SUBSYSTEM=="block", DEVPATH=="*/host1/port-1:3*", SYMLINK+=""
